@import 'preflight';
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  @apply mt-20 w-2/3 mx-auto flex flex-col gap-y-10;
}

.object-container {
  @apply container flex gap-x-8 gap-y-10 flex-wrap;
}

.object-icon {
  @apply border-[1px] border-gray-300 rounded-lg w-40 h-40 grid place-items-center select-none;

  &:hover {
    @apply bg-[#e5f3ff] border-[#c6e3fd];
  }
  
  &-checked {
    @apply bg-[#cce8ff] border-[#94cfff];
  
    &:hover {
      @apply bg-[#c0e3ff] border-[#86c8ff];
    }
  }
}

// swal toast
.colored-toast.swal2-icon-success {
  background-color: #8ad95c !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
