/* container styles */

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  margin: 0 auto;
  padding: 80px 0;
  width: 80%;
}

.controlContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.objectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 40px 32px;
}


/* folder, file object styles */

.objectIcon {
  display: grid;
  user-select: none;
  width: 160px;
  height: 160px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.checkedObjectIcon {
  background-color: #cce8ff;
  border-color: #94cfff;
}

.objectName {
  width: 160px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


/* button styles */

.button {
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #e0e0ea;
  color: #222;
  font-size: 1.1em;
  padding: 0 10px 3px 10px;
  min-height: 50px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #c0c0ca;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  &:active {
    background-color: #a0a0aa;
  }
}

.buttonDisabled {
  opacity: 0.4;
  pointer-events: none;
}

.buttonAllCheckBox {
  display: flex;
  justify-content: center;
  padding: 0 5px;
  width: 48px;
}

.buttonTextWithIcon {
  padding-left: 6px;
  pointer-events: none;
}


/* dropdown styles */

.dropdownContainer {
  position: absolute;
  background-color: white;
  transition: opacity 250ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px #0003, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
}

.dropdownMenu {
  padding-top: 8px;
  padding-bottom: 8px;

  li {
    padding: 6px 16px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}


/* checkbox styles */

.checkbox {
  position: absolute;
  padding: 10px;
  width: 38px;
  height: 38px;
  cursor: pointer;
  user-select: none;

  input[type="checkbox"] {
    display: none;

    &:checked~span {
      background: #3785BC url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
      border: 2px solid #3785BC;
    }

    &:disabled~span {
      border-color: #bbb;
    }
  }

  span {
    border-radius: 3px;
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    pointer-events: none;
    user-select: none;
  }
}


/* responsive web (mobile) */

@media (max-width: 480px) {
  .mainContainer {
    gap: 50px 0;
    padding: 60px 0;
    width: 90%;
  }

  .controlContainer {
    justify-content: center;
    gap: 15px;
  }

  .objectContainer {
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
  }

  .objectIcon {
    width: 100px;
    height: 100px;
  }

  .objectIcon .checkbox {
    display: none;
  }

  .objectName {
    width: 100px;
    padding: 0 5px;
  }

  .button {
    width: 40px;
    min-height: 45px;
  }

  .buttonResponsive {
    display: none;
  }
}


/* only desktop */

@media (min-width: 481px) {
  .objectIcon:hover {
    background-color: #e5f3ff;
    border-color: #c6e3fd;
  }

  .checkedObjectIcon:hover {
    background-color: #c0e3ff;
    border-color: #86c8ff;
  }
}
