.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  margin: 0 auto;
  padding: 80px 0;
  width: 80%;
}

.controlContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.objectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 40px 32px;
}

.objectIcon {
  display: grid;
  user-select: none;
  width: 160px;
  height: 160px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.checkedObjectIcon {
  background-color: #cce8ff;
  border-color: #94cfff;
}

.checkbox {
  position: absolute !important;
}

.objectName {
  width: 160px;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// mobile
@media (max-width: 480px) {
  .mainContainer {
    gap: 50px 0;
    padding: 60px 0;
    width: 90%;
  }

  .controlContainer {
    justify-content: center;
  }

  .objectContainer {
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
  }

  .objectIcon {
    width: 100px;
    height: 100px;
  }

  .checkbox {
    display: none !important;
  }

  .objectName {
    width: 100px;
    padding: 0 5px;
  }
  .buttonText {
    display: none;
  }
}

// not mobile
@media (min-width: 481px) {
  .objectIcon:hover {
    background-color: #e5f3ff;
    border-color: #c6e3fd;
  }

  .checkedObjectIcon:hover {
    background-color: #c0e3ff;
    border-color: #86c8ff;
  }
}
